.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  border-radius: 5px;
  background-color: #fff;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  z-index: 9999;
}
.modalActive {
  position: absolute;
  width: 350px;
  height: 495px;
  top: calc(50% - 250px);
  left: calc(50% - 175px);
  border-radius: 10px;
  background-color: rgb(255, 255, 255);
  cursor: default;
  padding: 40px 20px;
}

.modal__title {}
.modal__description {}